@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Roboto&display=swap');

.create-btn
{
  width: 78px;
  height: 38px;
  border-radius: 6px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}